
<section class="col-xs-6 col-xs-offset-3 main">
	<form ng-submit="vm.add()" >
		<input type="text" class="form-control new-todo" auto-focus ng-model="vm.newTodo" 
			placeholder="What needs to be done?">
	</form>
	<section>
		<ul class="list-group">
			<li class="list-group-item todo" ng-repeat="t in vm.todos | filter:vm.statusFilter track by $index">
				<input type="checkbox" class="toggle" ng-model="t.completed" ng-disabled="vm.pending" ng-change="vm.toggleCompleted(t)">
				<span ng-class="{true: 'completed'}[t.completed]" class="content">{{t.title}}</span>
				<span class="remove" ng-click="vm.remove(t)">X</span>
			</li>
			<li class="list-group-item footer">
				<span>{{vm.uncompleted}} item left</span>
				<span class="filter-btn" ng-class="{selected: vm.status=='all'}" ng-click="vm.filterTodo(1)">All</span>
				<span class="filter-btn" ng-class="{selected: vm.status=='active'}" ng-click="vm.filterTodo(2)">Active</span>
				<span class="filter-btn" ng-class="{selected: vm.status=='completed'}" ng-click="vm.filterTodo(3)">Completed</span>
				<span class="pull-right clear-btn" ng-click="vm.clearCompleted()">Clear Completed</span>
			</li>
		</ul>
	</section>
</section>